<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns='http://www.springframework.org/schema/beans'
       xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
       xmlns:mvc='http://www.springframework.org/schema/mvc'
       xmlns:context='http://www.springframework.org/schema/context'
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">
  <!--启动注解驱动-->
  <mvc:annotation-driven>
    <mvc:message-converters register-defaults="true">
      <bean class="org.springframework.http.converter.StringHttpMessageConverter">
        <property name="supportedMediaTypes" value="text/html;charset=UTF-8"></property>
      </bean>
      <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter"></bean>
    </mvc:message-converters>
  </mvc:annotation-driven>
  
  <!--设置拦截器-->
  <mvc:interceptors>
    <mvc:interceptor>
      <mvc:mapping path="/**"/>
      <mvc:exclude-mapping path="/api/*"/>
      <bean class="filter.MyInterceptorImpl"></bean>
    </mvc:interceptor>
    <mvc:interceptor>
      <mvc:mapping path="/upload"/>
      <mvc:exclude-mapping path="/index"/>
      <mvc:exclude-mapping path="/login"/>
      <mvc:exclude-mapping path="/user*"/>
      <bean class="filter.MyInterceptor"></bean>
    </mvc:interceptor>
  </mvc:interceptors>
  
  <!--扫描业务代码-->
  <context:component-scan base-package="wab"></context:component-scan>
  
  <!--配置视图解析器-->
  <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
    <!--视图目录与视图文件格式-->
    <property name="prefix" value="/WEB-INF/jsp/"></property>
    <property name="suffix" value=".jsp"></property>
  </bean>
  
  <!--文件上传-->
  <bean id="multipartResolver" 
        class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
    <property name="maxUploadSize">
      <value>104857600</value>
    </property>
    <property name="maxInMemorySize">
      <value>4096</value>
    </property>
  </bean>
    
  <!--全局异常统一处理-->
  <!--方式一-->
  <!--  <bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
    <property name="defaultErrorView" value="error"/>
    <property name="exceptionAttribute" value="ex"/>
    <property name="exceptionMappings">
      <props>
        <prop key="exception.ParamsException">exception/params_error</prop>
        <prop key="exception.BussinessException">exception/buss_error</prop>
      </props>
    </property>
  </bean>-->
</beans>
