<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" 
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop" 
       xmlns:mvc="http://www.springframework.org/schema/mvc" 
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/task
        http://www.springframework.org/schema/task/spring-task.xsd">
  <!--扫描自定义的Mapper接口-->
  <bean id="student" class="jdm.spring.entity.Student">
    <property name="id" value="1"></property>
    <property name="name" value="季芳"></property>
    <property name="age" value="22"></property>
  </bean>
  <bean id="student2" class="jdm.spring.entity.Student">
    <constructor-arg name="id" value="1"></constructor-arg>
    <constructor-arg name="name" value="季芳"></constructor-arg>
    <constructor-arg name="age" value="22"></constructor-arg>
  </bean>
  
  <!--自动扫描-->
  <context:component-scan base-package="jdm"></context:component-scan>

  <!-- 使Aspect注解生效，为目标类自动生成代理对象 -->
  <aop:aspectj-autoproxy></aop:aspectj-autoproxy>
</beans>
