<!DOCTYPE configuration PUBLIC '-//mybatis.org//DTD Config 3.0//EN' 'http://mybatis.org/dtd/mybatis-3-config.dtd'>
<configuration>
  <settings>
    <setting name="autoMappingBehavior" value="PARTIAL"/>
    <setting name="mapUnderscoreToCamelCase" value="true"/>
    <setting name="logImpl" value="STDOUT_LOGGING" />
    <setting name="lazyLoadingEnabled" value="true"/>
    <setting name="aggressiveLazyLoading" value="false"/>
    <setting name="cacheEnabled" value="false"/>
  </settings>
  <typeAliases>
    <typeAlias type="java.lang.String" alias="String"/>
    <typeAlias type="java.util.List" alias="List"/>
    <typeAlias type="java.util.Map" alias="Map"/>
    <typeAlias type="java.util.Set" alias="Set"/>
  </typeAliases>
</configuration>