<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 'PUBLIC:-//mybatis.org//DTD mapper 3.0//EN' 'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>
<mapper namespace="jdm.mybatis.dao.RoleDao">
    <resultMap id="roleMap" type="Role">
        <id column="id" property="id"></id>
        <result column="role_name" property="roleName"></result>
        <collection property="userGroup" ofType="User">
            <id column="uid" property="id"></id>
            <result column="user_name" property="userName"></result>
        </collection>
    </resultMap>
    <select id="findUsers" parameterType="int" resultMap="roleMap">
        SELECT 
        r.id, r.role_name,
        u.id uid, u.user_name
        FROM users u, roles r, user_role a
        WHERE r.id = #{id}
        AND a.role_id = r.id
        AND a.user_id = u.id
    </select>
</mapper>
