<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD mapper 3.0//EN' 
'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>
<mapper namespace="jdm.mybatis.dao.WifeDao">
    <resultMap id="wifeMap" type="Wife">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="gender" property="gender"/>
    </resultMap>
    <resultMap id="couplesMap" type="Wife" extends="wifeMap">
        <association column="" property="husband"
                     resultMap="mybatis.mapper.HusbandMapper.husbandMap"/>
    </resultMap>
</mapper>
